<p id="notice"><%= notice %></p>

<p>
<strong>Nombre concentrador:</strong>
  <%= @concentrador.nombre %>
</p>

<%= link_to 'Edit', edit_categoria_equipo_path(@categoria_equipo) %> |
<%= link_to 'Back', categoria_equipos_path %>
